a{
    text-decoration: none;
   
}
#page{
    width: 300px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 0%;
    background-color: darkgray;
    padding: 10px;
    padding-bottom: -20px;
}
#signup{
width: 270px;
height: 30px;
border: 2px solid black;
margin-top: 15px;
cursor: pointer;
margin-left: 10px;
background-color: white;

}
#login{
    width: 270px;
    height: 30px;
    border: 2px solid black;
margin-top: 10px;
cursor: pointer;
background-color: black;
margin-left: 10px;
}
a>p{
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    color: white;
}
a>p:hover{
    background-color: grey;
}
#signup>a>p{
    color: black;
}
#signup>a>p:hover{
    background-color: grey;
}

#page2>div{
    width: 300px;
    height: 40px;
   cursor: pointer;
     margin-left: -5px;
    margin-top: 20px;
    padding-top: 10px;


}
#page2>div>p{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
}
#page2>div:hover{
    background-color: grey;
}
#page2{
    background-color: white;
    width: 300px;
    height: 250px;
    margin-left: -5px;
    padding-bottom: 0px;
}