* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(234, 231, 226);
}

form {
    width: 100%;
    height: 600px;
   
    margin-left: 30%;
    margin-top: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        padding: 10px;
        background-color: white;
}
#rigister{
    width: 30%;
    height: 200px;
    box-shadow: 20px;
    margin-left:15% ;
    margin-top: 60px;
    background-color: white;
}

p {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    background-color: white;
}

input {
    width: 400px;
    height: 40px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
   background-color: white;

}

#submit {
    margin-top: 50px;
    margin-left: 20px;
   background-color: black;
    color: white;
    cursor: pointer;
    
}
#main{
    display: flex;
  
}
#signup {
    width: 400px;
    height: 50px;
    border: 2px solid black;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30px;
    background-color: rgb(16, 16, 16);
    
    


}
#signup>a>p {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(16, 16, 16);
}
a{
text-decoration: none;
}
h1{
  margin-left: 50px;
    background-color: white;
    margin-top: 50px;
}
img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    background-color: white;
}

#facebook {
    display: flex;
    border: 1px solid black;
    width: 300px;
    margin-top: 20px;
 background-color: white;
}

img+p {
    margin: auto;
  font-size: 30px;
  


}

h2 {
    margin-top: 40px;
    color: grey;
    background-color: white;
}

p {
    margin-top: 40px;
    margin-left: 20px;
    background-color: white;
}

#logos {
    display: flex;
    margin-left: 20px;
    background-color: white;
    margin-top: 30px;
}

#google {
    display: flex;
    border: 1px solid black;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    
    background-color: white;
}