*{
    font-family: "Poly Regular","Times New Roman",serif;
}

.firstImg{
    display: block;
}

/* first reslonsive slot 1 strip */


#ft137_responsive_slot{
    width: 100%;
    height: 60px;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: rgb(233, 232, 232);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.resonsive_icn{
    /* border: 2px solid #000000; */
    width: auto;
    padding-left: 20px;
     font-size: 17px;
}

/* end first resonive slot  */




#strip1{
    margin: 0px;
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    background-color: #a7a2a2e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#strip1:hover{
   cursor: pointer;
    background-color: rgb(214, 213, 213);
    transition: 0.2ms smooth;
}
.strip1-text{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 18px;
}

#firstImg{
    /* border: 2px solid rgb(6, 6, 6); */
    width: 100%;
    height: 553;
    margin: auto;
}


.glider-prev{
    display: inline-block;
    /* display: none; */
    margin-left: 25px;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    transform: translateY(-50%);
    z-index: 1;
}


.glider-next{
display: inline-block;
/* display: none; */
margin-right: 25px;
transition: .6s ease;
border-radius: 0 3px 3px 0;
transform: translateY(-50%);
z-index: 1;
padding: 16px;
color: #fff;
font-weight: 700;
}

#gliderfirstImg{
    width: 100%;
    height: 553px;
    margin: auto;
}

#glidersecondImg{
    width: 100%;
    height: 553px;
    margin: auto;
}
#fp03137_responsiveSlot2{
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 2px solid blue; */
}

#fp03137_responsiveSlot2_hding{
/* border: 2px solid black; */
font-size: 24px;
text-align: center;
font-weight: 400;
}

#fp03137_responsiveSlot2pgraph{
    font-size: 15px;
    text-align: center;
}

#promoSlider_plainTxt{
    width: 95%;
    height: auto;
    margin: auto;
    /* border: 2px solid rgb(0, 0, 0); */
}


#promoSlider_plainTxt_hding{
    text-transform: none;
    font-weight: 400;
    /* border: 2px solid rgb(255, 3, 3); */
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

#promoSlider_plainTxt_pgraph{
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    /* margin-top: -5px; */
    font-size: 14px;
    text-align: center;
}

#skinmedica_container{
    width: 95%;
    margin: auto;
    height: 600px;
    /* border: 2px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#skinmedica_container>div{
    width: 50%;
    height: 600px;
    /* border: 2px solid red; */
    
}

#skinmedica_container>#left_sub_container>img{
    width: 90%;
}

#right_sub_container{
    display: flex;
    justify-content: space-evenly;
}

#right_sub_container>div{
    margin-top: 10px;
    width: 275px;
    margin-bottom: 60px;
    /* border: 2px solid green; */
    text-align: center;
}


.SkinMedica_img{
    width: 270px;
    height: 270px;
    /* border: 2px solid black ; */
}

.SkinMedica_img ~ a  {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.SkinMedica_img ~ h4{
    text-align: center;
    font-size: 14px;
}


.SkinMedica_img ~ span{
    /* border: 2px solid black; */
    font-size: 14px;
}



.div_eightBtn_title{
    width: 95%;
    height: 200px;
    margin: auto;
    /* border: 2px solid red; */
    

}

.div_eightBtn_title>p{
    
    text-align: center;
    /* border: 2px solid black; */

}



#eightBtn_itemContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 120px;
    /* border: 2px solid #07eaff; */
    margin: auto;
    align-items: center;
   justify-content: space-evenly;
   
}

#eightBtn_itemContainer>div{    
    width: 294px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
}

#eightBtn_itemContainer>div:hover{    
   background-color: rgb(226, 225, 225);
    transition-delay: 0.1s;
    cursor: pointer;
    
}


.eightButtonLink_text{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
}


/* Best sellers section */

#best_sellers_container{
    width: 95%;
    height: 520px;
    margin-top: 10px;
    /* border: 2px solid rgb(249, 3, 3); */
    margin: auto;
    }

#best_sellers_container>h2{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.bestSellersSlider_txt{
    text-decoration: none;
}

#slider_best_seller{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,514px);
    gap: 19px;
}

#slider_best_seller > div{
    /* border: 2px solid black; */
    align-items: center;
    
}

#slider_best_seller > div > img{
    width: 270px;
    height: 270px;
    /* border: 2px solid black; */

}


.quick_buy_best_sellers_area{
    width: 270px;
    height: 40px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    color: white;
    font-weight: 400;
    padding: 9.6px 32px;

}

.quick_buy_best_sellers_area:hover {
    background-color: #5d5d5d;
    transition: background-color .2s;
    cursor:pointer;
}


.bestSellersSlider_img ~ a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.bestSellersSlider_img ~ .bestSellersSlider_txt {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* 3 item editorials */

#threeItemEditorial_container{
    width: 95%;
    height: 450px;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#threeItemEditorial_container>div{
    width: 423px;
    height: 348px;
    /* border: 2px solid red; */
}

.threeItemEditorial_img{
    width: 100%;
}

.threeItemEditorial_h3{
    font-size: 24px;
    margin-top: -5px;
    margin: auto;
    text-align: center;
    font-weight: 300;
    /* border: 2px solid blue; */
}

.threeItemEditorial_p{
    /* border: 2px solid blue; */
    font-size: 14px;
    text-align: center;
    
}

#responsiveSlot7{
    margin-top: 20px;
    width: 95%;
    height: 500px;
    /* border: 2px solid blueviolet; */
    justify-content: space-evenly;
    margin: auto;
    
}
#responsiveSlot7>h2{
    font-weight: 400;
    font-size: 24px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
#responsiveSlot7_imgContainer{
    display: flex;
    /* border: 2px solid rgb(213, 22, 22); */
    height: 90%;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}



.responsiveSlot7_img{
    width: 294px;
    height: 95%;
    margin: auto;
    /* border: 2px solid rgb(254, 237, 5); */
    text-align: center;
    text-decoration: none;
}

.responsiveSlot7_txt{
    color: black;
    /* border: 2px solid red; */
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 15px;
}

/* New Arrivals */
#New_arrivals_container{
    width: 95%;
    height: 617px;
    margin-top: 10px;
    /* border: 2px solid rgb(249, 3, 3); */
    margin: auto;
}

#New_arrivals_container>h2{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    font-size: 24px;
    
}

#slider_New_arrivals{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,500px);
    gap: 20px;
    margin: auto;
    justify-content: center;
}

#slider_New_arrivals > div{
    /* border: 2px solid black; */
    align-items: center;
    
    

}

#slider_New_arrivals > div > img{
    width: 270px;
    height: 270px;
    /* border: 1px solid black; */

}

.NewArrivals_img ~ a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.NewArrivals_img ~ h4 {
    border:2px solid lightslategrey;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    /* color: black; */
}

.responsiveProductCarousel_navBullets {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.generalImageBanner_image{
    height: 208px;
    width: 95%;
    /* border: 2px solid black; */
    display: flex;
    margin: auto;
}

.brandLogos_container{
    width: 95%;
    height: 320px;
    /* border: 2px solid blue; */
    text-align: center;
    margin: auto;
}

.brandLogos_title{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    height: 20px;
    font-size: large;
    justify-content: center;
    /* border: 2px solid springgreen; */
}

.fp03137_brandLogos_img{
    /* margin-top: 50px; */
    margin-top: 10px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-evenly;
}


.fp03137_brandLogosimg{
    height: auto;
    /* border: 2px solid black; */
}


#VidData{
    width: 95%;
    margin: auto;
    /* border: 2px solid black; */
    
}
#VidData > img{
    width: 100%;
    margin: auto;
}

.fp03137_h2{
text-align: center;
font-weight: 400;
/* border: 2px solid gold; */
}

.fp03137_h2p{
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 50px;
}

.shop_nowBanner{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    /* border: 2px solid red; */
}

.shop_nowBanner img{
    width: 100%;
}

#blog{
    height: 400px;
    width: 95%;
    
    margin: auto;
    /* border: 2px solid navy; */
}

.blog_h3{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 40px;
    font-weight: 400;
    text-align: center;
    /* border: 2px solid red; */
}

.blogImgContainer{
    width: 90%;
    height: 90%;
    /* border: 2px solid salmon; */
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}

.blogImg_img{
    margin-top: 30px;
    width: 310px;
    height: 300px;
    /* border: 2px solid rgb(1, 27, 130); */
    text-align: center;
    text-decoration: none;
}


.blogImg_txt{
    color: rgb(2, 2, 2); 
    font-weight: 500;
    font-size: 15px;
    margin: auto;
}


.blogImg_txt:hover{
    color: rgb(2, 2, 2); 
    text-decoration: none;
}
